@model ContosoUniversity.Models.Student
@using ContosoUniversity.Models

@{
    ViewBag.Title = "Details";
}


@if (Model.FilePaths.Any(f => f.FileType == FileType.Photo))
{
    <dd>
        <img src="~/Images/@Model.UserName@(Model.FilePaths.First(f => f.FileType == FileType.Photo).FileName)" alt="" width="150" height="150" />
    </dd>
}

<h3>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstMidName)</h3>
<p>@Html.DisplayNameFor(model => model.EnrollmentDate): @Html.DisplayFor(model => model.EnrollmentDate)</p>

<div>
    <hr />
    <h4>@Html.DisplayNameFor(model => model.Enrollments)</h4>
    <dl class="dl-horizontal">
        <dd>
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }

            </table>
        </dd>


        <dd>
            <p id="infos"></p>
        </dd>
    </dl>
</div>

<div class="form-group" id="sub">
    <div class="col-md-10">
        <input type="submit" value="Subscribe" class="btn btn-default" onclick="location.href ='@Url.Action("SubscribeCourse", "Subscribe", new { id = Model.ID })'" />
    </div>
</div>



