@model ContosoUniversity.Models.Person

@{
    ViewBag.Title = "SessionUser";
}

<h2> Welcome @Html.DisplayFor(model => model.FirstMidName) </h2>


<div>
    <h4>Profile details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Subscribe" class="btn btn-default"/>
        </div>
    </div>

</div>


@Html.ActionLink("Logout", "Logout", "Login")

